body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif; }

#navigation {
  height: 46px;
  margin: 0 0 10px 0;
  padding: 6px;
  background-color: #242424;
  display: block;
  filter: alpha(opacity=60);
  -moz-opacity: 0.60;
  -khtml-opacity: 0.60;
  opacity: 0.60; }
  #navigation .inner {
    position: relative;
    max-width: 1008px;
    margin: 0 auto;
    height: 100%;
    color: #fff; }
    #navigation .inner p {
      margin: -0.6em 0 0 0.4em;
      position: absolute;
      top: 50%;
      font-size: 1.2em;
      float: left; }
    #navigation .inner ul {
      margin-top: -0.6em;
      position: absolute;
      top: 50%;
      right: 0;
      float: left;
      list-style-type: none;
      padding: 0; }
      #navigation .inner ul li {
        display: inline-block; }
        #navigation .inner ul li img {
          width: 2em;
          height: 2em;
          margin-top: -0.3em;
          border-radius: 50%;
          display: inline-block; }
  #navigation a {
    color: #fff;
    text-decoration: none; }
    #navigation a:hover {
      color: #888888; }

#outline {
  max-width: 1008px;
  margin: 0 auto 60px auto;
  text-decoration: none; }
  #outline a {
    color: #fff;
    text-decoration: none; }
  #outline article {
    padding: 20px; }
    #outline article .inner {
      width: 100%;
      font-size: 1.2em;
      display: inline-block; }
      #outline article .inner header {
        width: 100%;
        text-align: right; }
        #outline article .inner header h1 {
          text-align: left; }

.row {
  float: left;
  width: 336px;
  height: 336px;
  margin: 0;
  padding: 0; }

.column {
  float: clear;
  width: 336px;
  height: 168px;
  text-decoration: none; }
  .column a {
    color: #fff;
    text-decoration: none; }
    .column a:link {
      color: #fff;
      text-decoration: none; }
    .column a:visited {
      color: #fff;
      text-decoration: none; }
    .column a:hover {
      color: #fff;
      text-decoration: none; }
    .column a:active {
      color: #fff;
      text-decoration: none; }

.column-x2 {
  height: 336px; }

.panel-list ul {
  margin: 0;
  padding: 0;
  width: 100%; }
.panel-list ul li {
  display: inline-block;
  width: 320px;
  height: 68px;
  margin: 4px;
  padding: 4px; }
  .panel-list ul li:hover {
    margin: 2px;
    border: #bbb 2px solid; }
  .panel-list ul li:active {
    border: 0;
    margin: 5px;
    width: 318px;
    height: 66px; }
  .panel-list ul li a {
    display: inline-block;
    width: 320px;
    height: 68px;
    font-size: 1.1em; }
    .panel-list ul li a span.inner-left {
      width: 320px;
      height: 68px;
      display: table-cell;
      vertical-align: middle; }
    .panel-list ul li a span.inner {
      display: table-cell;
      vertical-align: middle;
      height: 68px; }
      .panel-list ul li a span.inner.left {
        padding: 2px 6px; }
        .panel-list ul li a span.inner.left img {
          width: 40.8px;
          height: 40.8px; }
      .panel-list ul li a span.inner.middle {
        width: 100%;
        padding-top: 0.1em;
        line-height: 68px; }
        .panel-list ul li a span.inner.middle .name {
          display: inline-block; }
      .panel-list ul li a span.inner.right {
        padding: 0.1em 0.5em 0 0;
        line-height: 68px; }
        .panel-list ul li a span.inner.right .star {
          float: right;
          display: inline-block; }

.panel-tile-small ul {
  margin: 0;
  padding: 0; }
.panel-tile-small ul li {
  display: inline-block;
  width: 152px;
  height: 152px;
  margin: 4px;
  padding: 4px;
  float: left; }
  .panel-tile-small ul li:hover {
    margin: 2px;
    border: #bbb 2px solid; }
  .panel-tile-small ul li:active {
    border: 0;
    margin: 5px;
    width: 150px;
    height: 150px; }
  .panel-tile-small ul li a {
    display: inline-block;
    width: 152px;
    height: 152px;
    font-size: 1.1em; }
    .panel-tile-small ul li a span.inner {
      position: absolute;
      width: 152px;
      height: 152px; }
      .panel-tile-small ul li a span.inner img {
        width: 60.8px;
        height: 60.8px;
        position: absolute;
        top: 45.6px;
        left: 45.6px; }
      .panel-tile-small ul li a span.inner img.scale-high {
        width: 91.2px;
        height: 91.2px;
        position: absolute;
        top: 30.4px;
        left: 30.4px; }
      .panel-tile-small ul li a span.inner img.round {
        border-radius: 50%; }
      .panel-tile-small ul li a span.inner .name {
        position: absolute;
        bottom: 2px;
        left: 4px;
        color: #fff; }
        .panel-tile-small ul li a span.inner .name:first-letter {
          font-size: 1.2em; }
.panel-tile-small ul li.empty:hover {
  margin: 4px;
  border: #bbb 0 solid; }

.panel-tile-half-large ul {
  margin: 0;
  padding: 0; }
.panel-tile-half-large ul li {
  display: inline-block;
  width: 320px;
  height: 152px;
  margin: 4px;
  padding: 4px;
  float: left; }
  .panel-tile-half-large ul li:hover {
    margin: 2px;
    border: #bbb 2px solid; }
  .panel-tile-half-large ul li:active {
    border: 0;
    margin: 5px;
    width: 318px;
    height: 150px; }
  .panel-tile-half-large ul li a {
    display: inline-block;
    width: 320px;
    height: 152px;
    font-size: 1.1em; }
    .panel-tile-half-large ul li a span.inner {
      position: absolute;
      width: 320px;
      height: 152px; }
      .panel-tile-half-large ul li a span.inner img {
        width: 60.8px;
        height: 60.8px;
        position: absolute;
        top: 45.6px;
        left: 129.6px; }
      .panel-tile-half-large ul li a span.inner img.scale-high {
        width: 91.2px;
        height: 91.2px;
        position: absolute;
        top: 30.4px;
        left: 114.4px; }
      .panel-tile-half-large ul li a span.inner img.round {
        border-radius: 50%; }
      .panel-tile-half-large ul li a span.inner .name {
        position: absolute;
        bottom: 2px;
        left: 4px;
        color: #fff; }
        .panel-tile-half-large ul li a span.inner .name:first-letter {
          font-size: 1.2em; }
.panel-tile-half-large ul li.empty:hover {
  margin: 4px;
  border: #bbb 0 solid; }

.c-blue {
  background-color: #1976d2; }
  .c-blue:hover {
    background-color: #2083e4; }
  .c-blue:active {
    background-color: #1669bb; }

.c-github {
  background-color: #222222; }
  .c-github:hover {
    background-color: #2f2f2f; }
  .c-github:active {
    background-color: #151515; }

.c-hatena-b {
  background-color: #8899a6; }
  .c-hatena-b:hover {
    background-color: #97a6b1; }
  .c-hatena-b:active {
    background-color: #798c9b; }

.c-green {
  background-color: #33aa00; }
  .c-green:hover {
    background-color: #3bc400; }
  .c-green:active {
    background-color: #2b9100; }

.c-twitter {
  background-color: #1DA1F2; }
  .c-twitter:hover {
    background-color: #35abf3; }
  .c-twitter:active {
    background-color: #0d95e8; }

.c-tairiku {
  background-color: #1DA1F2; }
  .c-tairiku:hover {
    background-color: #35abf3; }
  .c-tairiku:active {
    background-color: #0d95e8; }

.st_green {
  background-color: #637d37;
  color: #e9f0dc;
  text-decoration: none; }
  .st_green a {
    color: #fff;
    text-decoration: none; }
    .st_green a:link {
      color: #fff;
      text-decoration: none; }
    .st_green a:visited {
      color: #fff;
      text-decoration: none; }
    .st_green a:hover {
      color: #fff;
      text-decoration: none; }
    .st_green a:active {
      color: #fff;
      text-decoration: none; }
  .st_green .button {
    width: auto;
    border: 3px #ccc solid;
    background-color: #2b3618;
    display: inline-block;
    padding: 10px; }
    .st_green .button:hover {
      border: 3px #eee solid;
      background-color: #475927; }
    .st_green .button:active {
      border: 3px #888 solid;
      background-color: #0f1208; }

.bc_green {
  background-color: #556b2f;
  background-size: 100% auto;
  background-attachment: fixed; }

.st_blue {
  background-color: #426cff;
  color: white;
  text-decoration: none; }
  .st_blue a {
    color: #fff;
    text-decoration: none; }
    .st_blue a:link {
      color: #fff;
      text-decoration: none; }
    .st_blue a:visited {
      color: #fff;
      text-decoration: none; }
    .st_blue a:hover {
      color: #fff;
      text-decoration: none; }
    .st_blue a:active {
      color: #fff;
      text-decoration: none; }
  .st_blue .button {
    width: auto;
    border: 3px #ccc solid;
    background-color: #0031db;
    display: inline-block;
    padding: 10px; }
    .st_blue .button:hover {
      border: 3px #eee solid;
      background-color: #0f44ff; }
    .st_blue .button:active {
      border: 3px #888 solid;
      background-color: #0025a8; }

.bc_blue {
  background-color: #223a70;
  background-size: 100% auto;
  background-attachment: fixed; }

/*# sourceMappingURL=main.css.map */
